@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$basic-colors: (
	black: #17252a,
	white: #feffff,
);

$primary: #3aafa9;
$secondary: #1e306e;

$main-colors: (
	primary: $primary,
	secondary: $secondary,
);

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: map-get($basic-colors, white) !important;
	font-family: 'Poppins', sans-serif !important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

// IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap';
