.imgTexturado {
	width: 12rem;
	height: 12rem;
	border-radius: 12px;

	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;

	&:hover {
		transform: scale(0.95);
	}
}
