@import '../utils/mixins.scss';

.imgTexturado {
	width: 12rem;
	height: 12rem;
	border-radius: 12px;

	@include transition-mixin(transform, ease-out, 150ms);

	&:hover {
		transform: scale(0.95);
	}
}
